nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  padding: 1.5rem 2rem;
  /* position: relative; */
  background-color: var(--primary);
  -webkit-transition: top 500ms ease-in-out;
  -o-transition: top 500ms ease-in-out;
  transition: top 500ms ease-in-out;
  z-index: 100;
}

nav.scroll-up,
nav:focus-within {
  top: 0;
}

nav.scroll-down {
  top: -100%;
}

.background-nav {
  width: 300px;
  max-height: 92.77px;
  -o-object-fit: none;
  object-fit: none;
  position: absolute;
  top: 0;
  right: 0;
  mix-blend-mode: soft-light;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    to(rgba(0, 0, 0, 0.25))
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
  mask-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    to(rgba(0, 0, 0, 0.5))
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  opacity: 0.75;
  pointer-events: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger-links {
  display: none;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--monochrome-1);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -1em;
}

.links a {
  display: inline-block;
  margin: 0 1em;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.links a:hover {
  display: inline-block;
  margin: 0 1em;
  padding-bottom: 5px;
  border-bottom: 2.5px solid #ffffff;
}

.links a.active {
  display: inline-block;
  margin: 0 1em;
  padding-bottom: 5px;
  border-bottom: 2.5px solid #ffffff;
}

.logo {
  color: var(--monochrome-1);
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

nav a {
  color: var(--monochrome-1);
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* CALL TO ACT */

.btn {
  padding: 1rem 2rem;
  border: 0.15rem solid var(--secondary);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--secondary);
  background-color: transparent;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  color: var(--monochrome-1);
  background-color: var(--secondary);
  cursor: pointer;
}

.bg-colored-dark {
  background-color: var(--footer-cta);
}

footer {
  padding: 1em;
  text-align: center;
  background-color: var(--footer-bottom);
}

footer span {
  color: var(--monochrome-2);
  font-size: 0.8rem;
  text-decoration: none;
}

@media screen and (max-width: 780px) {
  .hamburger {
    display: block;
  }

  .hamburger-links {
    top: 100px;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--secondary);
    z-index: 10;
  }

  .hamburger-links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 0.75rem 0;
    color: var(--monochrome-1);
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-bottom: 0.1px solid var(--primary);
  }

  .hamburger-links a:hover {
    background-color: var(--primary);
  }

  .hide {
    display: none;
  }
}
